<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragment/common/head :: head"></div>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <ul th:replace="/fragment/common/sidebar.html :: sidebar"></ul>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div th:replace="fragment/index_content :: content"></div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer th:replace="fragment/common/footer :: footer"></footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div th:replace="fragment/common/logout_modal :: logoutModal"></div>

    <!-- Script -->
    <div th:replace="fragment/common/script :: script"></div>

    <!-- Page level plugins -->
    <script src="vendor/chart.js/Chart.min.js"></script>
    <script src="js/demo/chart-area-demo.js"></script>
    <script src="js/demo/chart-pie-demo.js"></script>

    <script>
        // 여기에 myLineChart.data 값 넣어야 함
    </script>

</body>

</html>