<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!-- Sidebar -->
    <ul th:fragment="sidebar" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">세탁소 장부 관리</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" th:href="@{/}">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>홈</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <li class="nav-item">
            <a class="nav-link" th:href="@{/revenue-detail}">
                <i class="fas fa-fw fa-table"></i>
                <span>수입 세부사항</span>
            </a>
        </li>


        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
<!--        <div class="sidebar-heading">-->
<!--            손님 목록 리스트-->
<!--        </div>-->
        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" th:href="@{/customer-list}">
                <i class="fas fa-fw fa-table"></i>
                <span>손님 목록</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

<!--        <div class="sidebar-heading">-->
<!--            제고 관리 리스트-->
<!--        </div>-->

        <li class="nav-item">
           <a class="nav-link" th:href="@{/stock-quantity}">
               <i class="fas fa-fw fa-boxes"></i>
               <span>제고 관리</span>
           </a>
        </li>

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
    <!-- End of Sidebar -->
</html>